@charset "utf-8";
/* SimpleFormUI Example CSS - All styles not directly related to the plugin */

/*=RESET*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}table { border-collapse:collapse; border-spacing:0;}fieldset,img { border:0;}address,caption,cite,code,dfn,em,strong,th,var { font-style:normal; font-weight:normal;}ol,ul { list-style:none;}caption,th { text-align:left;}h1,h2,h3,h4,h5,h6 { font-size:100%; font-weight:normal;}q:before,q:after { content:'';}abbr,acronym { border:0;} section, article, header, footer, nav, aside, hgroup, video { display:block; }

/*=LAYOUT*/
html {
  overflow-y:scroll;
  height: 100%;
}
body {
  font-family:Arial, Helvetica, sans-serif;
  font-size:62.5%;
  height: 100%;
  background-color:#222b3b;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, #222b3b), color-stop(0.9, #232C3D));
  background-image:-moz-linear-gradient(center bottom, #222b3b 10%, #232C3D 90%);
  background-repeat: no-repeat;
  color:#1e2736;
}
form, section {
  background-color:#eee;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(219,219,219)), color-stop(0.9, rgb(246,246,246)));
  background-image:-moz-linear-gradient(center bottom, rgb(219,219,219) 10%, rgb(246,246,246) 90%);
    -webkit-background-clip: padding-box;
  border:1px solid #fff;
    -o-border-radius:1.2em;
    -moz-border-radius:1.2em;
    -webkit-border-radius:1.2em;
  border-radius:1.2em;
  width:32em;
  padding:2em;
  margin:5em auto;
    -o-box-shadow:0 0 1em rgba(0,0,0,0.4);
    -moz-box-shadow:0 0 1em rgba(0,0,0,0.4);
    -webkit-box-shadow:0 0 1em rgba(0,0,0,0.4);
  box-shadow:0 0 1em rgba(0,0,0,0.4);
}
h1 {
  font-size:4.8em;
  font-family:"Lobster", Arial, Helvetica, sans-serif;
    -o-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
    -moz-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
    -webkit-text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
  text-shadow:0.021em 0.021em 0.021em #fff, -0.021em -0.021em 0.021em #ccc;
  margin-bottom:0.5em;
}
/*=FORM*/
label, legend {
  font-size:1.4em;
}
label[for="name"],
label[for="email"] {
  float:left;
  width:24%;
  clear:right;
  padding-top:0.6em;
  text-align:right;
}
legend:after,
label[for="name"]:after,
label[for="email"]:after {
  content:":";
}
.textbox {
  float:right;
  width:70%;
  padding:0.5em 2%;
  border:1px solid #ccc;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  background:#fff;
  margin-bottom:1em;
    -o-box-shadow:inset -0.2em -0.2em 0.2em #eee;
    -moz-box-shadow:inset -0.2em -0.2em 0.2em #eee;
    -webkit-box-shadow:inset -0.2em -0.2em 0.2em #eee;
  box-shadow:inset -0.2em -0.2em 0.2em #eee;
}
.textbox input {
  width:100%;
  border:none;
  background:transparent
}
fieldset {
  clear:both;
  border:0.1em solid #bbb;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  padding:1em 4%;
  margin-bottom:1.5em;
}
legend {
  margin-left:-0.5em;
}
fieldset label {
  float:left;
  width:47%;
  padding:0.5em 0;
}
label input {
  float:left;
  margin-right:1em;
}
label[for="newsletter"] {
  margin-bottom:1em;
}
select {
  width:100%;
  margin-bottom:1em;
}
input[type="submit"] {
  border:none;
  background:transparent;
    -o-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
    -webkit-box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
  box-shadow: 0 0.2em 0.2em rgba(0,0,0,0.3);
  padding:0.5em;
  border:0.1em solid #fff;
  background-color:#1e2736;
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(30,38,51)), color-stop(0.9, rgb(35,44,61)));
  background-image:-moz-linear-gradient(center bottom, rgb(30,38,51) 10%, rgb(35,44,61) 90%);
    -webkit-background-clip: padding-box;
  color:#fff;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  width:25%;
  margin:0 auto;
    -o-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
    -moz-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
    -webkit-text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
  text-shadow:0 0.1em 0.1em rgba(0,0,0,0.3);
}
input[type="submit"]:hover {
  border-color:#9FD4FF;
  color:#9FD4FF;
}
input[type="submit"]:active {
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0.1, rgb(35,44,61)), color-stop(0.9, rgb(30,38,51)));
  background-image:-moz-linear-gradient(center bottom, rgb(35,44,61) 10%, rgb(30,38,51) 90%);
  position:relative;
  top:0.1em;
}
section {
  width:48em;
}
section div {
  font-size:1.4em;
}
ul {
  margin:1em 0;
}
li {
  list-style:disc;
  margin-left:2em;
}
h2 {
  margin:2em 0 1em;
  font-weight:bold;
}
code {
  font-family:"Courier New", Courier, monospace;
}
p {
  margin-bottom:0.5em;
  line-height:1.3em;
}
a {
  color:#1e2736;
}
a:hover {
  text-decoration:none;
}
strong {
  font-weight:bold;
}
body:after, .group:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
* html body, * html .group { height: 1%; }
body, .group { min-height: 1px; }
label, input[type="checkbox"], input[type="radio"], input[type="submit"], select {
  cursor:pointer;
  display:block;
}
em { 
  font-style:italic; 
}
/* 
  SimpleFormUI Plugin CSS - All styles  directly related to the plugin 
  This stylesheet is seperated into two areas:
    1. The top of the document is purely presentational styles
    2. The bottom of the document is purely functional styles
  This may cause some redundant selectors, but it should make the 
  plugin easier for you to style when you need to, as you can 
  concentrate on the upper half of the document
*/
/*=PRESENTATIONAL*/
.simpleFormUI.select {
  margin:0.7em 0 0.7em;
  height:1.2em;
  padding:0.5em;
  font-size:1.4em;
  border:0.08em solid #ccc;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
  background:#fff url(http://dev.ljd.dk/simpleformui/downarrow.gif) center right no-repeat;
    -webkit-background-clip: padding-box;
    -o-box-shadow:inset -0.2em -0.2em 0.2em rgba(0,0,0,0.07);
    -moz-box-shadow:inset -0.2em -0.2em 0.2em rgba(0,0,0,0.07);
    -webkit-box-shadow:inset -0.2em -0.2em 0.2em rgba(0,0,0,0.07);
  box-shadow:inset -0.2em -0.2em 0.2em rgba(0,0,0,0.07);
}
.simpleFormUI.select ul li,
.simpleFormUI.select div {
    -o-text-shadow:1px 1px 0 #fff;
    -moz-text-shadow:1px 1px 0 #fff;
    -webkit-text-shadow:1px 1px 0 #fff;
  text-shadow:1px 1px 0 #fff;
}
.simpleFormUI.select ul {
  display:none;
  width:100%;
  background-color:#eee;
    -webkit-background-clip: padding-box;
  border:1px solid #ccc;
  padding:0.3em 0;
    -o-border-radius:0.3em;
    -moz-border-radius:0.3em;
    -webkit-border-radius:0.3em;
  border-radius:0.3em;
    -o-box-shadow:0 0 3px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 3px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 3px rgba(0,0,0,0.2);
  box-shadow:0 0 3px rgba(0,0,0,0.2);
  max-height:150px;
  overflow-y:auto;
}
.simpleFormUI.select ul li:hover {
  color:#111;
  background:#fff;
}
.simpleFormUI.select ul li a {
  display:block;
  padding:0.4em 0.8em;
  margin:0;
}
.simpleFormUI.select ul li.selected a {
  cursor:default;
  color:#fff;
  background:#1e2736;
    -o-text-shadow:1px 1px 0 #1e2736;
    -moz-text-shadow:1px 1px 0 #1e2736;
    -webkit-text-shadow:1px 1px 0 #1e2736;
  text-shadow:1px 1px 0 #1e2736;
}
.simpleFormUI.select a {
  padding:0.5em;
  margin:-0.5em 0 0 -0.5em;
  text-decoration:none;
}
.simpleFormUI.radio,
.simpleFormUI.checkbox {
  position:relative;
  top:-1px;
  border:4px solid #1e2736;
  height:9px;
  width:9px;
  background:#1e2736;
    -o-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
  border-radius:3px;
    -o-box-shadow:1px 1px 1px rgba(255,255,255,1);
    -moz-box-shadow:1px 1px 1px rgba(255,255,255,1);
    -webkit-box-shadow:1px 1px 1px rgba(255,255,255,1);
  box-shadow:1px 1px 1px rgba(255,255,255,1);
  float:left;
  margin:0 0.5em 0 1px;
}
.simpleFormUI.radio.checked,
.simpleFormUI.checkbox.checked {
  background:#eee;
}
/*=FUNCTIONAL*
.simpleFormUI.select input, .simpleFormUI.select select {
  display:block;
}
.simpleFormUI.select {
  position:relative;
  cursor:pointer;
}
.simpleFormUI.select div span {
  display:block;
  overflow:hidden;
}
.simpleFormUI.select ul {
  display:none;
  position:absolute;
  top:110%;
  left:0;
  z-index:9000;
}
.simpleFormUI.select select {
  display:none;
}
#simpleFormUIOverlay {
  height:100%;
  left:0;
  position:fixed;
  top:0;
  width:100%;
  z-index:8000;
  display:none;
}